<div class="aiin-btn">
	<div class="aiin-reldiv1">
		<div class="aiin-dome1-frame">
			<div class="aiin-dome1-bg"></div>
			<div class="aiin-dome1-cell aiin-dome1-cell-1"><div class="aiin-dome1-pic aiin-dome1-pic-1"></div></div>
			<div class="aiin-dome1-cell aiin-dome1-cell-2"><div class="aiin-dome1-pic aiin-dome1-pic-2"></div></div>
			<div class="aiin-dome1-cell aiin-dome1-cell-3"><div class="aiin-dome1-pic aiin-dome1-pic-3"></div></div>
			<div class="aiin-dome1-cell aiin-dome1-cell-4"><div class="aiin-dome1-pic aiin-dome1-pic-4"></div></div>
		</div>
		<div class="aiin-filldiv1">
			<div class="aiin-absline1">
				<div class="aiin-ipos1">
					<img class="aiin-ipos1-space" src="%url-tpl%img/ipos-1x1.png"/>
					<div class="aiin-vmstd1 aiin-vmstd1-on"></div>
				</div>
			</div>
			<div class="aiin-absline2">
				<span class="aiin-label">
					いいね!
				</span>
			</div>
			<div class="aiin-absline3">
				<span class="aiin-vcnt">
				</span>
			</div>
		</div>
	</div>
</div>