/* btn */
.%css-ctar% .aiin-btn {
	position:relative;
	display:inline-block;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-tap-highlight-color:transparent;
	line-height:0;
}
/* framediv */
.%css-ctar% .aiin-framediv1 {
	position:relative;
	overflow:hidden;
	width:100px;
	height:80px;
	border:3px solid #ccc;
	box-shadow:0 0 0 1px #bbb;
}
/* zmpic */
.%css-ctar% .aiin-zmpic1-cntr,
.%css-ctar% .aiin-zmpic1-pic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;

	letter-spacing:0;
	font-size:0;
	line-height:0;
}
.%css-ctar% .aiin-zmpic1-pic {
	background:url("%url-tpl%img/pic.jpg");
	background-size:cover;
	background-position:center center;
	transform:scale(2.5);
	transition:transform 3s;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-zmpic1-pic {
	transform:scale(1);
}
@media (hover:hover), screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.%css-ctar% .aiin-btn:hover .aiin-zmpic1-pic {
		transform:scale(1);
	}
}
/* filldiv */
.%css-ctar% .aiin-filldiv1 {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
/* ipos:corner */
.%css-ctar% .aiin-ipos1 {
	position:absolute;
	width:15px;
	height:15px;
	top:2px;
	left:2px;
}
/* vmark */
.%css-ctar% .aiin-vmstd1 {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:opacity 1s, transform 1s;
}
.%css-ctar% .aiin-vmstd1-on {
	background:url("%url-tpl%img/vmark-on.png");
	background-size:100% 100%;
	opacity:0;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-vmstd1-on {
	opacity:0.7;
}
/* vmark:action */
.%css-ctar% .aiin-vmstd1-on {
	transform:rotateZ(+30deg);
	transform-origin:-200% 0;
	transition:opacity <?php echo 1s; ?>, transform <?php echo 1s; ?> cubic-bezier(.77,1.37,.84,1.1);
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-vmstd1-on {
	transform:rotateZ(0);
}
/* absline */
.%css-ctar% .aiin-absline1 {
	position:absolute;
	left:0;
	width:100%;
	line-height:1;
	bottom:0;
	background-color:rgba(255,255,255,0.35);
}
/* table */
.%css-ctar% .aiin-table1 {
	display:table;
	width:100%;
}
/* vmp */
.%css-ctar% .aiin-vmp1 {
	display:table-cell;
	vertical-align:middle;
	line-height:0;
}
/* vmp:label */
.%css-ctar% .aiin-vmp1-label {
	height:13px;
	text-align:left;
}
/* vmc */
.%css-ctar% .aiin-label {
	position:relative;
	line-height:0.85;
	font-size:11px;
	color:#5697d2;
	font-weight:bold;
	padding-left:3px;
	text-shadow:0 0 3px #fff;
}
/* vmc:hover */
@media (hover:hover) {
	.%css-ctar% .aiin-label {
		top:0.01em;
	}
}
/* vmc:IE10+ */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {  
	.%css-ctar% .aiin-label {
		top:0.01em;
	}
}
/* vmc:FireFox */
@-moz-document url-prefix() {
	.%css-ctar% .aiin-label {
		top:-0.05em;
	}
}
/* vmc:touch */
@media (hover:none) {
	.%css-ctar% .aiin-label {
		top:-0.05em;
	}
}
/* vmp:vcnt */
.%css-ctar% .aiin-vmp1-vcnt {
	text-align:right;
}
/* vmc */
.%css-ctar% .aiin-vcnt {
	position:relative;
	line-height:0.85;
	font-size:11px;
	color:#5697d2;
	font-weight:bold;
	padding-right:3px;
	text-shadow:0 0 3px #fff;
}
/* vmc:hover */
@media (hover:hover) {
	.%css-ctar% .aiin-vcnt {
		top:0.01em;
	}
}
/* vmc:IE10+ */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {  
	.%css-ctar% .aiin-vcnt {
		top:0.01em;
	}
}
/* vmc:FireFox */
@-moz-document url-prefix() {
	.%css-ctar% .aiin-vcnt {
		top:-0.05em;
	}
}
/* vmc:touch */
@media (hover:none) {
	.%css-ctar% .aiin-vcnt {
		top:-0.05em;
	}
}