/* btn */
.%css-ctar% .aiin-btn {
	position:relative;
	display:table;
	border-collapse:separate;
	border-spacing:5px 8px;
	color:#fff;
	background:#4267b2;
	border-radius:8px;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-tap-highlight-color:transparent;
	line-height:1;
	font-family:"Hiragino Kaku Gothic ProN","Arial","Meiryo UI","MS PGothic","sans-serif";
}
.%css-ctar% .aiin-btn.aiin-sel {
	background:#42b267;
}
.%css-ctar% .aiin-btn.aiin-not-allowed {
	cursor:default;
}
/* tcell */
.%css-ctar% .aiin-tcell {
	display:table-cell;
	vertical-align:middle;
}
.%css-ctar% .aiin-tcell:first-child {
	padding-left:20px;
}
.%css-ctar% .aiin-tcell:last-child {
	padding-right:20px;
}
/* icon */
.%css-ctar% .aiin-icon {
	position:relative;
	width:38px;
	height:38px;
	background:url("%url-tpl%img/icon.png");
	background-size:100% 100%;
}
/* vcnt */
.%css-ctar% .aiin-vcnt {
	font-size:38px;
	text-align:right;
	min-width:15px;
}
