<div class="aiin-btn">
	<div class="aiin-aura1 aiin-aura1-1"></div>
	<div class="aiin-reldiv1">
		<div class="aiin-pie1-wrapper">
			<div class="aiin-pie1-pie-frame aiin-pie1-safari-transitionfix">
				<div class="aiin-pie1-pie-left"><div class="aiin-pie1-pie"></div></div>
				<div class="aiin-pie1-mask-left"></div>
				<div class="aiin-pie1-pie-right"><div class="aiin-pie1-pie"></div></div>
				<div class="aiin-pie1-mask-right"></div>
			</div>
		</div>
		<div class="aiin-filldiv1">
			<div class="aiin-absline1">
				<span class="aiin-span1">
					いいね!
				</span>
			</div>
			<div class="aiin-absline2">
				<span class="aiin-vcnt">
				</span>
			</div>
		</div>
	</div>
</div>