<div class="aiin-btn">
	<div class="aiin-reldiv1">
		<div class="aiin-wheel1-view">
			<div class="aiin-wheel1-board">
				<div class="aiin-wheel1-starboard">
					<div class="aiin-wheel1-char aiin-wheel1-char-1-1">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-1-2">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-1-3">ね</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-1-4">!</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-2-1">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-2-2">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-2-3">ね</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-2-4">!</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-3-1">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-3-2">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-3-3">ね</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-3-4">!</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-4-1">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-4-2">い</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-4-3">ね</div>
					<div class="aiin-wheel1-char aiin-wheel1-char-4-4">!</div>
				</div>
				<div class="aiin-wheel1-circle"></div>
			</div>
		</div>
		<div class="aiin-filldiv1">
			<div class="aiin-absline1">
				<div class="aiin-ipos1">
					<img class="aiin-ipos1-space" src="%url-tpl%img/ipos-1x1.png"/>
					<div class="aiin-vmstd1 aiin-vmstd1-off"></div>
					<div class="aiin-vmstd1 aiin-vmstd1-on"></div>
				</div>
			</div>
			<div class="aiin-absline2">
				<span class="aiin-vcnt">
				</span>
			</div>
		</div>
	</div>
</div>