<div class="aiin-btn">
	<div class="aiin-gradframe1">
		<div class="aiin-gradframe1-circle aiin-gradframe1-circle1"></div>
		<div class="aiin-gradframe1-circle aiin-gradframe1-circle2"></div>
		<div class="aiin-slashcontent1">
			<div class="aiin-slashlabel1">
			</div>
			<div class="aiin-slashline1">
				<div class="aiin-slashline1-fill"></div>
			</div>
			<div class="aiin-slashvcnt1">
				<span class="aiin-slashvcnt1-vcnt">
					<span class="aiin-vcnt"></span>
				</span>
			</div>
		</div>
		<div class="aiin-ipos1">
			<div class="aiin-vmstd1 aiin-vmstd1-on"></div>
		</div>
	</div>
</div>