<div class="aiin-btn">
	<div class="aiin-reldiv1">
		<div class="aiin-flip1-wrapper">
			<div class="aiin-flip1-face aiin-flip1-face-back"></div>
			<div class="aiin-flip1-face aiin-flip1-face-front"></div>
		</div>
		<div class="aiin-filldiv1">
			<div class="aiin-absline1">
				<div class="aiin-swing1-swing">
					<span class="aiin-span1">
						いいね!
					</span>
				</div>
			</div>
			<div class="aiin-absline2">
				<div class="aiin-swing2-swing">
					<span class="aiin-vcnt">
					</span>
				</div>
			</div>
			<div class="aiin-ipos1">
				<div class="aiin-vmstd1 aiin-vmstd1-on"></div>
			</div>
		</div>
	</div>
</div>