/* btn */
.%css-ctar% .aiin-btn {
	position:relative;
	display:inline-block;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-tap-highlight-color:transparent;
	line-height:0;
}
.%css-ctar% .aiin-aura1 {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity:0;
	border-width:1px;
	border-style:dotted;
	border-color:#3276b2;
	border-radius:5px;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-aura1 {
	animation-name:%css-ctar%-kf-aura1-radiate-hover;
	animation-iteration-count:1;
	animation-timing-function:linear;
	animation-duration:1.5s;
}
@keyframes %css-ctar%-kf-aura1-radiate-hover {
	0% {
		opacity:1;
		transform:scale(1,1);
	}
	100% {
		opacity:0;
		transform:scale(1.3,2);
	}
}
.%css-ctar% .aiin-aura1-1 {
	animation-delay:0s;
}
.%css-ctar% .aiin-aura1-2 {
	animation-delay:0.5s;
}
.%css-ctar% .aiin-aura1-3 {
	animation-delay:1s;
}
.%css-ctar% .aiin-btn.aiin-init .aiin-aura1 {
	animation-name:none;
}
.%css-ctar% .aiin-framediv1 {
	position:relative;
	overflow:hidden;
	border-radius:5px;
}
.%css-ctar% .aiin-metalwedge1 {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:#3276b2;
}
.%css-ctar% .aiin-metalwedge1-light {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
	background-color:rgba(255,255,255,0.3);
}
.%css-ctar% .aiin-btn:hover .aiin-metalwedge1-light {
	animation-name:%css-ctar%-kf-metalwedge1-light;
	animation-iteration-count:1;
	animation-timing-function:linear;
	animation-duration:.5s;
}
@keyframes %css-ctar%-kf-metalwedge1-light {
	50% {
		background-color:rgba(255,255,255,0.4);
	}
}
.%css-ctar% .aiin-reldiv1 {
	position:relative;
}
/* vmp */
.%css-ctar% .aiin-vmp1 {
	display:table-cell;
	vertical-align:middle;
	line-height:1;
}
/* vmp:label */
.%css-ctar% .aiin-vmp1-label {
	height:31px;
}
.%css-ctar% .aiin-label {
	position:relative;
	line-height:0.85;
	font-size:16px;
	color:white;
	padding-left:10px;
	padding-right:5px;
	text-shadow:0 0 2px white;
}
@media (hover:hover) {
	.%css-ctar% .aiin-label {
		top:0.10em;
	}
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.%css-ctar% .aiin-label {
		top:0.10em;
	}
}
/* FireFox */
@-moz-document url-prefix() {
	.%css-ctar% .aiin-label {
		top:0.08em;
	}
}
@media (hover:none) {
	.%css-ctar% .aiin-label {
		top:0.06em;
	}
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-label {
	animation-name:%css-ctar%-kf-label-glow;
}
@media (hover:hover), screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.%css-ctar% .aiin-btn:hover .aiin-label {
		animation-name:%css-ctar%-kf-label-glow;
	}
}
.%css-ctar% .aiin-label {
	animation-iteration-count:1;
	animation-duration:3s;
}
@keyframes %css-ctar%-kf-label-glow {
	20% {
		text-shadow:
			0 0 1px yellow,
			0 0 2px yellow,
			0 0 4px yellow,
			0 0 8px yellow,
			0 0 16px yellow;
	}
}
.%css-ctar% .aiin-btn.aiin-init.aiin-sel .aiin-label {
	animation-name:none;
}
.%css-ctar% .aiin-vcnt {
	position:relative;
	line-height:0.85;
	font-size:16px;
	padding-left:5px;
	padding-right:10px;
	color:white;
	text-shadow:0 0 2px white;
}
@media (hover:hover) {
	.%css-ctar% .aiin-vcnt {
		top:0.10em;
	}
}
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.%css-ctar% .aiin-vcnt {
		top:0.10em;
	}
}
/* FireFox */
@-moz-document url-prefix() {
	.%css-ctar% .aiin-vcnt {
		top:0.08em;
	}
}
@media (hover:none) {
	.%css-ctar% .aiin-vcnt {
		top:0.06em;
	}
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-vcnt {
	animation-name:%css-ctar%-kf-vcnt-glow;
}
@media (hover:hover), screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.%css-ctar% .aiin-btn:hover .aiin-vcnt {
		animation-name:%css-ctar%-kf-vcnt-glow;
	}
}
.%css-ctar% .aiin-vcnt {
	animation-iteration-count:1;
	animation-duration:3s;
}
@keyframes %css-ctar%-kf-vcnt-glow {
	20% {
		text-shadow:
			0 0 1px yellow,
			0 0 2px yellow,
			0 0 4px yellow,
			0 0 8px yellow,
			0 0 16px yellow;
	}
}
.%css-ctar% .aiin-btn.aiin-init.aiin-sel .aiin-vcnt {
	animation-name:none;
}