<div class="aiin-btn">
	<div class="aiin-framediv1">
		<div class="aiin-zmpic1-cntr">
			<div class="aiin-zmpic1-pic"></div>
		</div>
		<div class="aiin-filldiv1">
			<div class="aiin-ipos1">
				<div class="aiin-vmstd1 aiin-vmstd1-on"></div>
			</div>
			<div class="aiin-absline1">
				<div class="aiin-table1">
					<div class="aiin-vmp1 aiin-vmp1-label">
						<span class="aiin-label">
							いいね!
						</span>
					</div>
					<div class="aiin-vmp1 aiin-vmp1-vcnt">
						<span class="aiin-vcnt">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>