<div class="aiin-btn">
	<div class="aiin-aura1 aiin-aura1-1"></div>
	<div class="aiin-aura1 aiin-aura1-2"></div>
	<div class="aiin-aura1 aiin-aura1-3"></div>
	<div class="aiin-framediv1">
		<div class="aiin-metalwedge1">
			<div class="aiin-metalwedge1-light"></div>
		</div>
		<div class="aiin-reldiv1">
			<div class="aiin-vmp1 aiin-vmp1-label">
				<span class="aiin-label">
					いいね!
				</span>
			</div>
			<div class="aiin-vmp1 aiin-vmp1-vcnt">
				<span class="aiin-vcnt">
					999
				</span>
			</div>
		</div>
	</div>
</div>