<div class="aiin-btn">
	<div class="aiin-framediv1">
		<div class="aiin-middlediv1">
			<div class="aiin-rollingboard1-main">
				<div class="aiin-rollingboard1-box-top">
					<div class="aiin-rollingboard1-ball">
						<div class="aiin-rollingboard1-ball-inner"><span>い</span></div>
					</div>
					<div class="aiin-rollingboard1-ball">
						<div class="aiin-rollingboard1-ball-inner"><span>い</span></div>
					</div>
					<div class="aiin-rollingboard1-ball">
						<div class="aiin-rollingboard1-ball-inner"><span>ね</span></div>
					</div>
					<div class="aiin-rollingboard1-ball">
						<div class="aiin-rollingboard1-ball-inner"><span>!</span></div>
					</div>
				</div>
				<div class="aiin-rollingboard1-box-bottom">
					<div class="aiin-rollingboard1-box-vcnt">
						<div class="aiin-vcnt"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="aiin-filldiv1">
			<div class="aiin-ipos1">
				<div class="aiin-vmstd1 aiin-vmstd1-on"></div>
			</div>
		</div>
	</div>
</div>