.%css-ctar% .aiin-btn {
	position:relative;
	display:inline-block;
	width:200px;
	height:100px;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-tap-highlight-color:transparent;
	overflow:hidden;
	line-height:0;
}
.%css-ctar% .aiin-btn.aiin-sel {
}
.%css-ctar% .aiin-btn.aiin-not-allowed {
	cursor:default;
}
/* bg */
.%css-ctar% .aiin-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/* bg-off */
.%css-ctar% .aiin-bg-off {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("%url-tpl%img/bg-off.jpg");
	background-size:cover;
	background-position:center center;
	transform:scaleY(1);
	transform-origin:top;
	transition:transform 1s;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-bg-off {
	transform:scaleY(0);
}
/* bg-on */
.%css-ctar% .aiin-bg-on {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("%url-tpl%img/bg-on.jpg");
	background-size:cover;
	background-position:center center;
	transform:scaleY(0);
	transform-origin:bottom;
	transition:transform 1s;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-bg-on {
	transform:scaleY(1);
}
/* bg-hover */
.%css-ctar% .aiin-bg-hover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("%url-tpl%img/bg-on.jpg");
	background-size:cover;
	background-position:center center;
	opacity:0;
	transition:opacity 1s;
}
.%css-ctar% .aiin-btn:hover .aiin-bg-hover {
	animation-name:%css-ctar%-kf-bg-hover;
	animation-iteration-count:1;
	animation-duration:1s;
	animation-fill-mode:both;
}
@keyframes %css-ctar%-kf-bg-hover {
	50% {
		opacity:0.5;
	}
}
/* bar */
.%css-ctar% .aiin-bar {
	position:absolute;
	bottom:5%;
	left:0;
	width:100%;
	text-align:center;
}
.%css-ctar% .aiin-bar-inner {
	position:relative;
	display:inline-block;
	padding:3px 10px;
	line-height:0;
	background-color:rgba(0,64,128,0.5);
	border-radius:10px;
}
.%css-ctar% .aiin-label,
.%css-ctar% .aiin-vcnt {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	color:white;
	font-size:12px;
	line-height:10px;
}
.%css-ctar% .aiin-label {
	margin-right:5px;
}
.%css-ctar% .aiin-vcnt {
	text-align:right;
	min-width:15px;
}
