/* btn */
.%css-ctar% .aiin-btn {
	position:relative;
	z-index:0;
	display:inline-block;
	width:100px;
	height:100px;
	background-position:center center;
	border-radius:8px;
	box-shadow:1px 1px 3px 0 #888;
	overflow:hidden;
	cursor:pointer;
	user-select:none;
	-moz-user-select:none;
	-webkit-tap-highlight-color:transparent;
	line-height:0;
}
.%css-ctar% .aiin-btn.aiin-not-allowed {
	cursor:default;
}
/* bg */
.%css-ctar% .aiin-bg,
.%css-ctar% .aiin-bg-off,
.%css-ctar% .aiin-bg-on {
	position:absolute;
	width:100%;
	height:100%;
}
.%css-ctar% .aiin-bg-off {
	background:url("%url-tpl%img/bg-off.jpg");
	background-size:cover;
}
.%css-ctar% .aiin-bg-on {
	background:url("%url-tpl%img/bg-on.jpg");
	background-size:cover;
	opacity:0;
	transition:opacity .5s;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-bg-on {
	opacity:1;
}
/* heading & footer */
.%css-ctar% .aiin-btn-heading,
.%css-ctar% .aiin-btn-footer {
	position:absolute;
	left:0;
	width:100%;
	height:20px;
	padding:4px 0;
	line-height:12px;
	font-size:12px;
	text-align:center;
	color:white;
	background-color:rgba(0,0,0,0.5);
}
.%css-ctar% .aiin-btn-heading {
	top:0;
}
.%css-ctar% .aiin-btn-footer {
	bottom:0;
	font-size:10px;
}
/* label & vcnt */
.%css-ctar% .aiin-label,
.%css-ctar% .aiin-vcnt {
	position:relative;
	vertical-align:middle;
}
/* icon */
.%css-ctar% .aiin-icon {
	opacity:0.5;
	position:absolute;
	bottom:-30px;
	left:3px;
	width:24px;
	height:24px;
	background:url("%url-tpl%img/icon.png");
	background-size:100% 100%;
	transition:bottom 0.6s cubic-bezier(.13,.91,.84,1.26) ;
}
.%css-ctar% .aiin-btn.aiin-sel .aiin-icon {
	bottom:22px;
}
