<div class="aiin-btn">
	<div class="aiin-reldiv1">
		<div class="aiin-toggle1">
			<div class="aiin-toggle1-table">
				<div class="aiin-toggle1-tcell">
					<div class="aiin-toggle1-left"><div class="aiin-toggle1-circle-l"></div></div>
				</div>
				<div class="aiin-toggle1-tcell aiin-toggle1-middle"></div>
				<div class="aiin-toggle1-tcell">
					<div class="aiin-toggle1-right"><div class="aiin-toggle1-circle-r"></div></div>
				</div>
			</div>
			<div class="aiin-toggle1-handle aiin-toggle1-handle-lr">
				<div class="aiin-toggle1-icon"></div>
			</div>
		</div>
		<div class="aiin-toggle1-panel">
			<span class="aiin-vcnt"></span>
		</div>
	</div>
</div>