<div class="aiin-btn">
	<div class="aiin-reldiv1">
		<div class="aiin-haiku-scrolling1-screen">
			<div class="aiin-haiku-scrolling1-contents">
				<div class="aiin-haiku-scrolling1-song">
					<div class="aiin-haiku-scrolling1-words">
						松島や<br>ああ松島や<br>松島や
					</div>
					<div class="aiin-haiku-scrolling1-author">田原坊</div>
				</div>
				<div class="aiin-haiku-scrolling1-song">
					<div class="aiin-haiku-scrolling1-words">
						島々や<br>千々に砕けて<br>夏の海
					</div>
					<div class="aiin-haiku-scrolling1-author">松尾芭蕉</div>
				</div>
				<div class="aiin-haiku-scrolling1-song">
					<div class="aiin-haiku-scrolling1-words">
						松島や<br>鶴に身を借れ<br>ほととぎす
					</div>
					<div class="aiin-haiku-scrolling1-author">河井曾良</div>
				</div>
			</div>
		</div>
		<div class="aiin-haiku-scrolling1-panel">
			<div class="aiin-haiku-scrolling1-table">
				<div class="aiin-haiku-scrolling1-tcell aiin-haiku-scrolling1-tcell-vmark">
					<img class="aiin-haiku-scrolling1-vmark" src="%url-tpl%/img/vmark-on.png"/>
				</div>
				<div class="aiin-haiku-scrolling1-tcell aiin-haiku-scrolling1-tcell-label">
					<img class="aiin-label" src="%url-tpl%/img/label.png"/>
					<span class="aiin-vcnt"></span>
				</div>
			</div>
		</div>
	</div>
</div>